<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./layouts/head'); -%>
  <style>
    .content.has-text-left {
      text-align: left;
    }
    .content p {
      margin-bottom: 1em;
    }
  </style>
</head>
<body>
    <% if (isAuthenticated && userRole==='admin') { %>
        <header id="header">
          <%- include('./layouts/header'); -%>
        </header>
    <% } %>

  <section class="section" style="padding: 30px;margin: 30px;">
      <div class="container">
          <div class="content has-text-left">
              <h2 class="title is-3">About MundoGIS</h2>
              <p>We specialize in delivering high-quality training, workshops, and consulting services, with a focus on open-source GIS solutions. Additionally, we develop advanced software tools designed to enhance workflows in 2D and 3D GIS environments.</p>
              <p>Whether you or your organization require expert guidance in geospatial data management, GIS analysis, 3D visualization, or customized GIS development, MundoGIS is here to provide tailored solutions to meet your needs.</p>
              <p>If you have any questions or need further information, feel free to reach out to us:</p>
              <p>Email: <a href="mailto:abel.gonzalez@mundogis.eu">abel.gonzalez@mundogis.eu</a></p>
              <p>
                  <a href="https://mundogis.eu/?page_id=11" target="_blank" class="button is-primary is-medium">Contact us</a>
              </p>
          </div>
      </div>
  </section>

  <footer class="footer">
      <div class="content has-text-centered">
          <p>MundoGIS &copy; 2024</p>
      </div>
  </footer>
</body>
</html>
